html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
--main-color: rgba(42, 44, 110, 0.747);
}

html{
    height: 100%;
    background: radial-gradient(var(--main-color), rgb(0, 0, 0));

}
main{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#top {
    background: url("https://media.giphy.com/media/UTS6HOANJvMDVX77i1/giphy.gif");
    background-size: cover;
    width: 100%;
    height: 80px;
}
#logo {
    width: 150px;
    display: flex;
    margin: 0 auto;
}
#hr {
    width: 100%;
    height: 15px;
    background: #000000;
    background: linear-gradient(270deg,#000000 0%, rgba(255, 255, 0, 0.568) 90%);
    background: -webkit-linear-gradient(270deg,#000000 0%, rgba(255, 255, 0, 0.473) 90%);
    background: -moz-linear-gradient(270deg,#000000 0%, rgba(255, 255, 0, 0.562) 90%);
}
#hr2 {
    width: 100%;
    height: 15px;
    background: #000000;
    background: linear-gradient(90deg,#000000 0%, rgba(255, 255, 0, 0.568) 90%);
    background: -webkit-linear-gradient(90deg,#000000 0%, rgba(255, 255, 0, 0.473) 90%);
    background: -moz-linear-gradient(90deg,#000000 0%, rgba(255, 255, 0, 0.562) 90%);
}
/* #a6a6ff; */
#tela-test{
    display: flex;
    border: 5px solid black;
    border-radius: 10px;
    background: rgba(89,0,0,0.41);
    background: linear-gradient(90deg,rgba(89,0,0,0.41) 0%, rgba(46,0,0,0.38) 28%, rgba(0,7,38,0.4) 72%, rgba(0,17,110,0.37) 100%);
    background: -webkit-linear-gradient(90deg,rgba(89,0,0,0.41) 0%, rgba(46,0,0,0.38) 28%, rgba(0,7,38,0.4) 72%, rgba(0,17,110,0.37) 100%);
    background: -moz-linear-gradient(90deg,rgba(89,0,0,0.41) 0%, rgba(46,0,0,0.38) 28%, rgba(0,7,38,0.4) 72%, rgba(0,17,110,0.37) 100%);
}
.coluna{
    width: 100%;
    height: 100%;
    border: 2px solid  var(--main-color);
    display: flex;
    flex-direction: column;
}
.linha{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 100%;
    margin-top: 3px;
}

.disc{
    width: 30px;
    height: 30px;
    background: radial-gradient(red,rgb(87, 17, 0));
    border-radius: 100%;
}

.player2{
    background-image: ;
    background: radial-gradient(blue, rgb(7, 0, 100));

}

footer {
    background: url("https://media.giphy.com/media/Rm3ZRGVUJrCDwK9KbU/giphy.gif");
    background-size:50%;
    height: 80px;
    padding-top:10px;
}

#ka {
    width: 85px;
    filter: brightness(1.5);
    position: absolute;
}

@keyframes blinking {
    from,
    49.9% {
      opacity: 0;
    }
    50%,
    to {
      opacity: 1;
    }
  }

h2{
    font-size: 8px;
    font-weight: 100;
    font-family: 'Star Jedi';
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    opacity: 0;
    animation: blinking linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: -4s;
}
  

@media only screen and (min-width: 768px) {

#logo {width: 225px;}
#top {height: 120px;}

main{height: 400px;}
    
.linha{
    width: 37px;
    height: 37px;
}
.disc{
    width: 37px;
    height: 37px;
}
footer {
    height: 120px;
    background-size:25%;}


#ka {width: 110px;}
  
h2 {
    font-size: 13px;
    margin-top: 5px;
}
      
}