html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    height: 100%;
    /* background: radial-gradient(rgba(0, 0, 255, 0.623), purple); */
    background-image: url(../img/f9a8ed161524ca06e0d5250fe2d33e51.gif);
    background-size: 800px;
    background-position: center;
}
main{
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tela-test{
    display: flex;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #a6a6ff;
}
.coluna{
    width: 100%;
    height: 100%;
    border: 2px solid #a6a6ff;
    display: flex;
    flex-direction: column;
}
.linha{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-image: url(../img/f9a8ed161524ca06e0d5250fe2d33e51.gif);
    background-position: center;
    background-size: 500px;
    border-radius: 100%;
    margin-top: 3px;
}

.disc{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-image: url(../img/download\ \(2\).jpeg);
    background-size: 43px;
    background-position: center;
}
.player2{
    background-image: url(../img/download\ \(1\).jpeg);
    background-size: 50px;
    background-position: center;
}
#secao{
    display: flex;
    margin-top: 20px;
}
#logo{
    width: 100px;
    height: 100px;
}
#nomes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
h1{
    color: whitesmoke;
    font-family: monospace;
}
#star{
    width: 100px;
}